<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
  <ion-radio-group [(ngModel)]="radioSelecionada">
    <ion-list-header> Escolha uma opção: </ion-list-header>
    <ion-item>
      <ion-label>Opção 1 </ion-label>
      <ion-radio value="option1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Opção 2 </ion-label>
      <ion-radio value="option2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Opção 3 </ion-label>
      <ion-radio value="option3"></ion-radio>
    </ion-item>
  </ion-radio-group>
 </ion-list>
 <ion-button (click)="verificarRadio()">Verificar seleção</ion-button>
</ion-content>
